-# This file is app/view/student/index.html.haml
#page-wrapper
  .row
    .col-lg-12
      %h1
        Assignments
        %small Overview
      %ol.breadcrumb
        %li.active
          %i.fa.fa-edit
          Assignments
  / /.row
  .row
    .col-lg-4
      .panel.panel-success
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-check.fa-5x  
            .col-xs-6.text-right
              %p.announcement-heading 2
              %p.announcement-text Assignments Graded
        
    .col-lg-4
      .panel.panel-warning
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-exclamation-triangle.fa-5x
            .col-xs-6.text-right
              %p.announcement-heading 1
              %p.announcement-text Assignment Not Submitted!

    .col-lg-4
      .panel.panel-danger
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-tasks.fa-5x
            .col-xs-6.text-right
              %p.announcement-heading 1
              %p.announcement-text Submission Errors

  / /.row
  .row
    .col-lg-12
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            %i.fa.fa-edit
            Posted Assignments
        .panel-body
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped.tablesorter
              %thead
                %tr
                  %th Assignment
                  %th Date Due
                  %th Date Submitted
                  %th Grade
              %tbody
                %tr.success
                  %td
                    %a{:href => "/student/assignment_1.cpp"} Assignment 1
                  %td 10/20/2013 11:59 PM
                  %td 10/15/2013 3:29 PM
                  %td
                    %a{:href => "/admin/grades/1"} 84%
                %tr.success
                  %td
                    %a{:href => "/student/assignment_2.cpp"} Assignment 2
                  %td 10/29/2013 11:59 PM
                  %td 10/29/2013 11:57 PM
                  %td
                    %a{:href => "/admin/grades/2"} 74%
                %tr.danger
                  %td
                    %a{:href => "404-html"} Assignment 3
                  %td 11/15/2013 11:59 PM
                  %td
                    %span.label.label-danger
                      %span.fa.fa-warning
                      NOT SUBMITTED
                  %td
                    %a{:href => "/admin/grades/3"} 0%
                %tr.warning
                  %td
                    %a{:href => "student/assignment/4"} Assignment 4
                  %td 11/28/2013 11:59 PM
                  %td
                    %span.label.label-warning
                      %span.fa.fa-warning
                      NOT SUBMITTED
                  %td
          
  / /.row
/ /#page-wrapper