///////////////////////////////////////////////////////////////////////////////
//
// Automated Marking System (AMS)
// 
// A scalable automated marking system that provides automated marking, quality
// feedback, and cheating detection all in one easy to use solution.
//
//
// Copyright (C) 2014, Joseph Heron, Jonathan Gillett, Daniel Smullen, 
// and Khalil Fazal
// All rights reserved.
//
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
///////////////////////////////////////////////////////////////////////////////
-# This file is app/view/student/cheating.html.haml
#page-wrapper
  .row
    .col-lg-12
      %h1
        Cheating
        %small Assignment Similarity
      %ol.breadcrumb
        %li.active
          %i.fa.fa-exclamation-circle
          Review Cheating
  / /.row
  .row
    .col-lg-12
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            %i.fa.fa-exclamation-circle
            Assignment 1 Cheating Report
        .panel-body
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped.tablesorter
              %thead
                %tr
                  %th
                    Last Name
                    %i.fa.fa-sort
                  %th
                    First Name
                    %i.fa.fa-sort
                  %th
                    Student Number
                    %i.fa.fa-sort
                  %th
                    Last Name
                    %i.fa.fa-sort
                  %th
                    First Name
                    %i.fa.fa-sort
                  %th
                    Student Number
                    %i.fa.fa-sort
                  %th
                    Code Similarity
                    %i.fa.fa-sort
                  %th View Difference
              %tbody
                %tr
                  %td Gillett
                  %td Jonathan
                  %td 100123123
                  %td Heron
                  %td Joseph
                  %td 100123123
                  %td 0%
                  %td
                    %a{:href => "#"} View Difference
                %tr
                  %td Gillett
                  %td Jonathan
                  %td 100123123
                  %td Fazal
                  %td Khalil
                  %td 100123123
                  %td 20%
                  %td
                    %a{:href => "#"} View Difference
                %tr.danger
                  %td Gillett
                  %td Jonathan
                  %td 100123123
                  %td Smullen
                  %td Daniel
                  %td 100123123
                  %td 90%
                  %td
                    %a{:href => "#"} View Difference
      / /.row
    / /#page-wrapper
/ /#wrapper