#page-wrapper
  .row
    .col-lg-12
      %h1
        Add Assignment Test Cases
      %ol.breadcrumb
        %li
          %a{:href => "/admin"}
            %i.fa.fa-edit
            Assignments
        %li.active
          %i.fa.fa-plus
          Add Test Cases
  / /.row
  .row
    .col-lg-6
      / EVALUATION TEST CASES
      %h2 Evaluation
      .alert.alert-info.alert-dismissable
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        %strong These test cases will be used for grading purposes.
      .row
        .col-xs-12
          %input.btn.btn-primary.btn-block.btn-lg{:id => "upload_eval", :tabindex => "7", :type => "submit", :value => "Upload"}
      .col-lg-6
        / SAMPLE TEST CASES
        %h2 Sample
        .alert.alert-info.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          %strong These test cases are not used for grading they are for instructional purposes only.
        .row
          .col-xs-12
            %input.btn.btn-primary.btn-block.btn-lg{:id => "upload_sample", :tabindex => "7", :type => "submit", :value => "Upload"}
    .row
      .col-xs-12
        %input.btn.btn-primary.btn-block.btn-lg{:id => "create_assignment", :tabindex => "7", :type => "submit", :value => "Finish"}