#page-wrapper
  .row
    .col-lg-12
      %h1
        Add Assignment Test Cases
      %ol.breadcrumb
        %li
          %a{:href => "/admin"}
            %i.fa.fa-edit
            Assignments
        %li.active
          %i.fa.fa-plus
          Add Test Cases
  / /.row
  .row
    .col-lg-12
      / EVALUATION TEST CASES
      %h2 Test cases
      .alert.alert-info.alert-dismissable
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        Submit the sample and evaluation test cases in a single file. The file is YAML formated.
        /TODO provide help
      %center
        #upload_assignment_container
          %button#upload_button.btn.btn-primary.btn-lg Upload
          %input#upload_input.btn.btn-primary.btn-lg{name:"file", type: "file", data: {type: "POST", action: "upload", controller: "admin"}}
  .row
    .col-lg-12
      %br
        %center
          %input.btn.btn-primary.btn-block.btn-lg{:id => "create_assignment", :type => "submit", :value => "Finish"}