///////////////////////////////////////////////////////////////////////////////
//
// Automated Marking System (AMS)
// 
// A scalable automated marking system that provides automated marking, quality
// feedback, and cheating detection all in one easy to use solution.
//
//
// Copyright (C) 2014, Joseph Heron, Jonathan Gillett, Daniel Smullen, 
// and Khalil Fazal
// All rights reserved.
//
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
///////////////////////////////////////////////////////////////////////////////
#page-wrapper
  .row
    .col-lg-12
      %h1
        Add Assignment Test Cases
      %ol.breadcrumb
        %li
          %a{:href => "/admin"}
            %i.fa.fa-edit
            Assignments
        %li.active
          %i.fa.fa-plus
          Add Test Cases
  / /.row
  .row
    .col-lg-12
      / EVALUATION TEST CASES
      %h2 Test cases
      .alert.alert-info.alert-dismissable
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        Submit the sample and evaluation test cases in a single file. The file is YAML formated.
      /TODO provide help
      %center
        #upload_assignment_container
          %button#upload_button.btn.btn-primary.btn-lg Upload
          %input#upload_input.btn.btn-primary.btn-lg{name:"file", type: "file", data: {type: "POST", url: "/admin/upload"}}
  .row
    .col-lg-12
      %br
        %center
          = button_to 'Finish', {:controller => :admin, :action => :submit}, :class => 'btn btn-primary btn-block btn-lg'
          /= button_to 'Finish', "/admin/submit", method: :get, :class => "btn.btn-primary.btn-block.btn-lg"
          / %input.btn.btn-primary.btn-block.btn-lg{:href => "/admin/submit", :value => "Finish"} 