-# This file is app/view/student/grading.html.haml
#page-wrapper
  .row
    .col-lg-12
      %h1
        This page is for showing the grades of an assignment (the assignment's id will be part of the url). When linked to from the main page side panel, it will show the latest assignment.