///////////////////////////////////////////////////////////////////////////////
//
// Automated Marking System (AMS)
// 
// A scalable automated marking system that provides automated marking, quality
// feedback, and cheating detection all in one easy to use solution.
//
//
// Copyright (C) 2014, Joseph Heron, Jonathan Gillett, Daniel Smullen, 
// and Khalil Fazal
// All rights reserved.
//
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
///////////////////////////////////////////////////////////////////////////////
-# This file is app/view/student/grading.html.haml
#page-wrapper
  .row
    .col-lg-12
      %h1
        Grading
        %small Grades for Assignments
      %ol.breadcrumb
        %li.active
          %i.fa.fa-pencil
          Review Grades
  / /.row
  .row
    .col-lg-12
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            %i.fa.fa-pencil
            Assignment 1 Grades
        .panel-body
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped.tablesorter
              %thead
                %tr
                  %th
                    Last Name
                    %i.fa.fa-sort
                  %th
                    First Name
                    %i.fa.fa-sort
                  %th
                    Student Number
                    %i.fa.fa-sort
                  %th
                    Metrics Grade
                    %i.fa.fa-sort
                  %th Metrics Weight
                  %th Test Case Grade
                  %th
                    Test Case Weight
                    %i.fa.fa-sort
                  %th
                    Final Grade
                    %i.fa.fa-sort
              %tbody
                %tr
                  %td Gillett
                  %td Jonathan
                  %td 100123123
                  %td 100%
                  %td 10%
                  %td 100%
                  %td 90%
                  %td 100%
                %tr
                  %td Heron
                  %td Joseph
                  %td 100123123
                  %td 100%
                  %td 10%
                  %td 100%
                  %td 90%
                  %td 100%
                %tr.danger
                  %td Smullen
                  %td Daniel
                  %td 100123123
                  %td 0%
                  %td 10%
                  %td 0%
                  %td 90%
                  %td 0%
          .text-right
            %a{:href => "4/04-03-2014.csv"}
              Download Grades
              %i.fa.fa-arrow-circle-right
      / /.row
    / /#page-wrapper
/ /#wrapper