///////////////////////////////////////////////////////////////////////////////
//
// Automated Marking System (AMS)
// 
// A scalable automated marking system that provides automated marking, quality
// feedback, and cheating detection all in one easy to use solution.
//
//
// Copyright (C) 2014, Joseph Heron, Jonathan Gillett, Daniel Smullen, 
// and Khalil Fazal
// All rights reserved.
//
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
///////////////////////////////////////////////////////////////////////////////
-# This file is app/view/admin/show.html.haml
#page-wrapper
  .row
    .col-lg-12
      %h1
        Assignment
        /%small Create a New Submission
      %ol.breadcrumb
        %li
          %a{:href => "/admin"}
            %i.fa.fa-edit
            Assignments
        %li.active
          = @assignment.name
  / /.row
  %form{:role => "form"}
    .row
      .col-lg-6
        / DESCRIPTION
        %h2 Description
        .form-group
          %label Submission Name
          %input.form-control{disabled: "true", :name => "name", :required => "", :type => "text", value: @assignment.description}
          %p.help-block The name of the assignment.
        .form-group
          %label Description
          %textarea.form-control{disabled: "true", :name => "description", :required => "", :rows => "8"}
            = @assignment.description
          %p.help-block Assignment description, markdown format is supported.
        .form-group
          %label Post Date
          %input.form-control{disabled: "true", :name => "postdate", :type => "text", :value => @assignment.posted}/
          %p.help-block The date the assignment will become available.
        .form-group
          %label Due Date
          %input.form-control{disabled: "true", :name => "duedate", :type => "text", :value => @assignment.due}/
          %p.help-block The deadline for the assignment.
        .form-group
          %label Language
          %select.form-control{disabled: "true", :required => ""}
            %option C++
      .col-lg-6
        / GRADING
        %h2 Grading
        %label Maximum Execution Time
        .form-group.input-group
          %input.form-control{disabled: "true", :name => "maxtime", :required => "", :type => "text", :value => @assignment.max_time}
            %span.input-group-addon Seconds
        %label Maximum Attempts
        .form-group.input-group
          %input.form-control{disabled: "true", :name => "maxattempts", :required => "", :type => "text", :value => @assignment.attempts}
            %span.input-group-addon Attempts
        %p.help-block The maximum number of attempts the student can have to re-submit.
        .form-group
          %label Code Analysis Metrics
          %select.form-control{disabled: "true", :multiple => "", :name => "metrics"}
            %option Memory Leaks
            %option Performance
            %option Stylistic Guidelines
            %option Array Bounds Checking
            %option Code Duplication
        %p.help-block The code analysis metrics to apply when grading.
        %label Code Analysis Weight
        .form-group.input-group
          %input.form-control{disabled: "true", :name => "metricweight", :required => "", :type => "text", :value => @assignment.code_weight}
            %span.input-group-addon %
        %p.help-block The weight code analysis metrics have on the overall grade.
        %label Test Case Evaluation Weight
        .form-group.input-group
          %input.form-control{disabled: "true", :name => "testweight", :required => "", :type => "text", :value => @assignment.test_case_weight}
            %span.input-group-addon %
        %p.help-block The weight test cases have on the overall grade.
        %a.btn.btn-primary.btn-lg{:href => "/admin/grades/#{@assignment_id}/cheating", :role => "button"} Review Cheating
/ /#page-wrapper
