-# This file is app/view/admin_login/index.html.haml
.container
  .row{:style => "margin-top:20px"}
    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
      %fieldset
        %h2 Please Sign In
        %hr.colorgraph
          = form_for @admin, url: {:action=>"create", :controller=>"admin_sessions"} do |s|
            - if @admin.errors.any?
              .error_messages
                %h2 Form is invalid
                %ul
                  - for message in @admin.errors.full_messages
                    %li= message
            - else
              - flash.each do |name, msg|
                .error_messages
                  %h2=msg
            .form-group
              = s.email_field :email, class: "form-control input-lg",placeholder: "Email Address"
            .form-group
              = s.password_field :password, class: "form-control input-lg",placeholder: "Password"
            %span.button-checkbox
              %button.btn{"data-color" => "info", :type => "button"} Remember Me
              %input#remember_me.hidden{:checked => "checked", :name => "remember_me", :type => "checkbox"}
            %hr.colorgraph
              .row
                .col-xs-6.col-sm-6.col-md-6
                  %input.btn.btn-lg.btn-success.btn-block{:type => "submit", :value => "Sign In"}
                .col-xs-6.col-sm-6.col-md-6
                  %a.btn.btn-lg.btn-primary.btn-block{:href => "/admin/login/new"} Register
